<h3><%= @application.name %></h3>
<p><%= @application.street_address %><br>
<%= @application.city %>, <%= @application.state%> <%= @application.zip_code%><br>
Description: <%= @application.description%><br>
Pets I want to Adopt: <%= @application.pets.all.each do |pet| %>
<%= pet.name %>
<% end %>
<br>
Application Status: <%= @application.application_status%>

<hr>

<h4>Add a Pet to this Application</h4>

<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>

<%if !@pets.nil?%>
  <%@pets.each do |pet|%>
    <section id="application_1-<%=pet.id%>">
      <%= pet.name %>
      <%= link_to "Adopt this Pet", "/pets/#{pet.id}/applications/#{@application.id}", method: :get%><br>
    </section>
  <%end%>
<%end%>
